# Testing LuaWebGen's interference with existing .htaccess file.

ErrorDocument 404 "<html><body>Error 404: Not found!</body></html>

# :LuaWebGen.redirections:

ErrorDocument 403 "<html><body>Error 403: Forbidden!</body></html>
