<!DOCTYPE html>
<html lang="{{ site.languageCode }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ generatorMeta() }}

		<title>
			{{ echo(page.title ~= "" and page.title.." - " or "") *}}
			{{ echo(site.title) }}
		</title>

		<link rel="canonical" href="{{ url(page.permalink) }}">
		<link rel="stylesheet" href="{{ /style.css }}">
	</head>

	<body>
		<header>
			<a href="{{ / }}">{{ echo(site.title) }}</a>
		</header>

		<div class="middleOuter"><div class="middleInner">
			<nav>
				<h3>Latest Posts</h3>

				<ol>
					{{ fori subpage in subpages("/posts/") }}
						{{ if not subpage.isIndex }}
						<li>
							<a href="{{ url(subpage.url) }}">
								{{ subpage.title }}<br>
								<span class="date">{{ os.date("%Y-%m-%d", toTime(subpage.publishDate)) }}</span>
							</a>
						</li>
						{{ end }}
					{{ end }}
				</ol>
			</nav>

			<main>