<!DOCTYPE html>
<html lang="{{ site.languageCode }}">

<head>
	<meta charset="utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ generatorMeta() }}

	<title>
		{{ page.title ~= "" and page.title.." |" or "" }}
		{{ site.title }}
	</title>

	<link rel="canonical" href="{{ page.permalink }}">

	<link rel="alternate" type="application/rss+xml" href="{{ site.baseUrl.."feed.rss" }}" title="{{ site.title }}">

	<link rel="stylesheet" href="{{ /css/style.css }}">

	<style>
		img { border: 5px dotted red; }
	</style>

	<script>
		console.log("Hello & have a good day!")

		{{ for i = 1, 3 }}
			console.log("Test number {{ i }}!")
		{{ end }}
	</script>

</head>

<body>
	<div id="siteTitle">
		Example Website
	</div>